# This is a basic FAT12 Boot Configuration for CoreLoader.
# Debug message
message:Veracyon Bootloader (CoreLoader) Test.
message:Booting from a FAT12 formatted device.
message:Keeping VGA Text Mode Enabled.

# VGA/VESA Configuration
vga-text:disabled
screen-width:800
screen-height:600

# Basic appearance configuration
background:0000AAAA
