# This is a basic FAT12 Boot Configuration for CoreLoader.
# Debug message
message:Veracyon Bootloader (CoreLoader) Test.
message:Booting from a FAT12 formatted device.

# VGA/VESA Configuration
vga-text:enabled
screen-width:800
screen-height:600

# Basic appearance configuration
background:04a9aa

# Kernel Loading Configuration
kernel:vkernel
kernel-base:C0000000
kernel-size:00400000